.container {
    height: 100%;
    width: 100%;
    margin-top: 7.5rem;
}

.wrapper {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
